body {
    background: #eef9bf;
    font-family: 'Roboto', sans-serif;
}
.titulo {
    color: #75B79E;
    height: 63px;
    width: 550px;
    font-style: normal;
    font-weight: bold;
    font-size: 56px;
    line-height: 66px;
    margin: 50px auto;
}
ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 800px;
}
.cartas {
    position: relative;
    width: 117px;
    height: 146px;
    margin: 17px;
}
.face {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10px;
    left: 10px;
    width: 117px;
    height: 146px;
    background: #A7E9AF;
    border: 1px solid #99CEA8;
    border-radius: 5px;
    backface-visibility: hidden;
    transition: all .5s;
    transform-style: preserve-3d;
}
img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}
.verso {
    transform: rotateY(180deg);
}
.rotacaoVerso {
    transform: rotateY(0deg);
}

.rotacaoFrente {
    transform: rotateY(-180deg);
}
.selecionado {
    background-color: red;
}
.contador {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 100px;
    height: 100px;
    background-color: #fff;
}

@media (max-width: 614px) {

    .titulo {
        width: 100%;
        height: auto;
        font-size: 36px;
        line-height: 42px;
        text-align: center;
        padding: 5px 15px;
        margin-bottom: 10px;
    }
    ul {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
}
